@import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Montserrat:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

html {
  font-size: 16px;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

i {
  color: black;
  transition: 0.5s;
}

input,
button {
  font-family: "Montserrat", sans-serif;
  outline: none;
  border: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: white;
  color: white;
  position: relative;
}

.s-header {
  background-color: white;
  padding: 10px;
  transition: 0.5s;
  width: 100%;
  z-index: 6;
}
.s-header .container .b-topheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.s-header .container .b-topheader .b-brandname p {
  color: black;
  margin: 0;
  font-size: 1.3rem;
  letter-spacing: 5px;
}
.s-header .container .b-topheader .b-logo {
  width: 180px;
  height: 180px;
  margin: 0;
  overflow: hidden;
  transform: translateX(50px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.s-header .container .b-topheader .b-logo img {
  width: 220px;
}
.s-header .container .b-topheader .b-function {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.s-header .container .b-topheader .b-function .b-search {
  border: 1px solid rgb(21, 21, 21);
  padding: 10px 20px;
  border-radius: 20px;
}
.s-header .container .b-topheader .b-function .b-search input {
  background-color: transparent;
}
.s-header .container .b-topheader .b-function .b-search i {
  color: black;
  font-size: 1.25rem;
  transition: 0.5s;
}
.s-header .container .b-topheader .b-function .b-search i:hover {
  color: #ad6c6d;
}
.s-header .container .b-topheader .b-function .b-cart {
  position: relative;
  z-index: 6;
}
.s-header .container .b-topheader .b-function .b-cart:hover .b-cart-hover {
  opacity: 1;
  visibility: visible;
}
.s-header .container .b-topheader .b-function .b-cart i {
  color: black;
  font-size: 1.25rem;
  transition: 0.5s;
}
.s-header .container .b-topheader .b-function .b-cart i:hover {
  color: #ad6c6d;
}
.s-header .container .b-topheader .b-function .b-cart .b-cart-amount {
  opacity: 0;
  position: absolute;
  top: -10px;
  right: -14px;
  width: 20px;
  height: 20px;
  background-color: #5b6d5b;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.s-header .container .b-topheader .b-function .b-cart .b-cart-amount span {
  font-size: 0.75rem;
}
.s-header .container .b-topheader .b-function .b-cart .b-cart-hover {
  position: absolute;
  top: 30px;
  right: 0px;
  width: 280px;
  padding: 10px 20px;
  color: black;
  background-color: white;
  box-shadow: rgba(173, 108, 109, 0.4901960784) 0px 3px 8px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  z-index: 6;
}
.s-header .container .b-topheader .b-function .b-cart .b-cart-hover .note {
  text-align: center;
}
.s-header .container .b-topheader .b-function .b-cart .b-cart-hover p {
  margin: 0;
}
.s-header .container .b-topheader .b-function .b-cart .b-cart-hover .b-cart-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.s-header .container .b-topheader .b-function .b-cart .b-cart-hover .b-cart-content:last-child {
  border-bottom: none;
}
.s-header .container .b-topheader .b-function .b-cart .b-cart-hover .b-cart-content img {
  width: 80px;
}
.s-header .container .b-topheader .b-function .b-cart .b-cart-hover .b-cart-content .b-cart-text {
  margin-left: 10px;
}
.s-header .container .b-topheader .b-function .b-cart .b-cart-hover .b-cart-content .b-cart-text p {
  margin: 0;
}
.s-header .container .b-topheader .b-function .b-cart .b-cart-hover .b-cart-content .b-cart-text .price {
  color: #ad6c6d;
}
.s-header .container .b-topheader .b-function .b-account i {
  color: black;
  font-size: 1.25rem;
  transition: 0.5s;
}
.s-header .container .b-topheader .b-function .b-account i:hover {
  color: #ad6c6d;
}
.s-header .container .b-botheader {
  padding-top: 10px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.s-header .container .b-botheader .b-logo {
  width: 10%;
  display: none;
}
.s-header .container .b-botheader .b-logo img {
  width: 180px;
  height: 180px;
}
.s-header .container .b-botheader .b-menu {
  transform: translateX(400px);
  z-index: 6;
}
.s-header .container .b-botheader .b-menu > ul {
  width: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.s-header .container .b-botheader .b-menu > ul li {
  position: relative;
}
.s-header .container .b-botheader .b-menu > ul li a {
  transition: 0.5s;
}
.s-header .container .b-botheader .b-menu > ul li:hover > a {
  color: #ad6c6d;
}
.s-header .container .b-botheader .b-menu > ul li:hover::before {
  width: 100%;
}
.s-header .container .b-botheader .b-menu > ul li:hover > .b-submenu {
  opacity: 1;
  visibility: visible;
  position: absolute;
  top: 30px;
  left: -20px;
  z-index: 6;
}
.s-header .container .b-botheader .b-menu > ul li::before {
  content: "";
  width: 0;
  height: 1.5px;
  background-color: #ad6c6d;
  position: absolute;
  top: 22px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
}
.s-header .container .b-botheader .b-menu > ul li .b-submenu {
  position: absolute;
  top: 10px;
  left: -20px;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  background-color: white;
  width: 160px;
  padding: 10px 10px;
  transition: 0.5s;
  box-shadow: rgba(173, 108, 109, 0.4901960784) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.s-header .container .b-botheader .b-menu > ul li .b-submenu li {
  margin: 10px;
}
.s-header .container .b-botheader .b-function {
  width: 100px;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.s-header .container .b-botheader .b-function .b-cart {
  position: relative;
  z-index: 6;
}
.s-header .container .b-botheader .b-function .b-cart:hover .b-cart-hover {
  opacity: 1;
  visibility: visible;
}
.s-header .container .b-botheader .b-function .b-cart i {
  color: black;
  font-size: 1.25rem;
  transition: 0.5s;
}
.s-header .container .b-botheader .b-function .b-cart i:hover {
  color: #ad6c6d;
}
.s-header .container .b-botheader .b-function .b-cart .b-cart-amount {
  opacity: 0;
  position: absolute;
  top: -10px;
  right: -14px;
  width: 20px;
  height: 20px;
  background-color: #5b6d5b;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.s-header .container .b-botheader .b-function .b-cart .b-cart-amount span {
  font-size: 0.75rem;
}
.s-header .container .b-botheader .b-function .b-cart .b-cart-hover {
  position: absolute;
  top: 30px;
  right: 0px;
  width: 280px;
  padding: 10px 20px;
  color: black;
  background-color: white;
  box-shadow: rgba(173, 108, 109, 0.4901960784) 0px 3px 8px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.s-header .container .b-botheader .b-function .b-cart .b-cart-hover .note {
  text-align: center;
}
.s-header .container .b-botheader .b-function .b-cart .b-cart-hover p {
  margin: 0;
}
.s-header .container .b-botheader .b-function .b-cart .b-cart-hover .b-cart-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 6;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.s-header .container .b-botheader .b-function .b-cart .b-cart-hover .b-cart-content:last-child {
  border-bottom: none;
}
.s-header .container .b-botheader .b-function .b-cart .b-cart-hover .b-cart-content img {
  width: 80px;
}
.s-header .container .b-botheader .b-function .b-cart .b-cart-hover .b-cart-content .b-cart-text {
  margin-left: 10px;
}
.s-header .container .b-botheader .b-function .b-cart .b-cart-hover .b-cart-content .b-cart-text p {
  margin: 0;
}
.s-header .container .b-botheader .b-function .b-cart .b-cart-hover .b-cart-content .b-cart-text .price {
  color: #ad6c6d;
}
.s-header .container .b-botheader .b-function .b-account i {
  color: black;
  font-size: 1.25rem;
  transition: 0.5s;
}
.s-header .container .b-botheader .b-function .b-account i:hover {
  color: #ad6c6d;
}
.s-header.active {
  border-bottom: 1px solid rgba(173, 108, 109, 0.4901960784);
  position: fixed;
  z-index: 5;
}
.s-header.active .container .b-topheader {
  display: none;
}
.s-header.active .container .b-botheader .b-logo {
  display: block;
}
.s-header.active .container .b-menu {
  transform: translate(-10px);
}
.s-header.active .container .b-function {
  opacity: 1;
}

.s-footer {
  background-color: #ad6c6d;
  margin-top: 100px;
}
.s-footer .s_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 80px;
  height: 320px;
}
.s-footer .s_top .s_left {
  width: 500px;
}
.s-footer .s_top .s_left .s_logo {
  width: 200px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 50%;
  transform: translateY(-10px);
}
.s-footer .s_top .s_left .s_logo img {
  width: 200px;
  height: 200px;
}
.s-footer .s_top .s_left .s_info .s_info-detail {
  margin-bottom: 10px;
}
.s-footer .s_top .s_left .s_info .s_info-detail i {
  margin-right: 10px;
}
.s-footer .s_top .s_left .s_social i {
  font-size: 1.5rem;
  margin-right: 10px;
}
.s-footer .s_top .s_left .s_social i:hover {
  color: #5b6d5b;
}
.s-footer .s_top .s_mid {
  width: 500px;
  margin-top: 50px;
}
.s-footer .s_top .s_mid ul {
  transform: translateY(20px);
}
.s-footer .s_top .s_mid ul li {
  margin-bottom: 20px;
}
.s-footer .s_top .s_mid ul li a {
  color: white;
  font-size: 1.17rem;
  transition: 0.5s;
}
.s-footer .s_top .s_mid ul li a:hover {
  color: #5b6d5b;
  margin-left: 10px;
}
.s-footer .s_top .s_right .s_email {
  padding: 10px 20px;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.s-footer .s_top .s_right .s_email input {
  background-color: transparent;
}
.s-footer .s_top .s_right .s_email input::placeholder {
  color: white;
}
.s-footer .s_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.s-footer .s_bottom p {
  margin: 0;
}
.s-footer .s_bottom .s_pay i {
  font-size: 2rem;
}

.c-card-product {
  text-align: center;
}
.c-card-product .c_card-img {
  position: relative;
  overflow: hidden;
}
.c-card-product .c_card-img:hover img {
  transform: scale(1.1);
}
.c-card-product .c_card-img img {
  transition: 1s;
  width: 320px;
  height: 350px;
  object-fit: cover;
}
.c-card-product .c_card-img .c_discount {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #5b6d5b;
  color: white;
  padding: 5px 10px;
}
.c-card-product .c_card-img .c_hot {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(173, 108, 109, 0.4901960784);
  color: white;
  padding: 5px;
  font-style: italic;
}
.c-card-product .c_card-content {
  margin-top: 20px;
}
.c-card-product .c_card-content .c_price {
  width: 120px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Croissant One", cursive;
}
.c-card-product .c_card-content .c_price span {
  margin: 0;
}
.c-card-product .c_card-content .c_price .c_discount-price {
  color: rgba(0, 0, 0, 0.608);
  text-decoration: line-through;
}
.c-card-product .c_card-content .c_price .c_real-price {
  font-size: 1.25rem;
  color: #ad6c6d;
}

.c-btn1 {
  width: 180px;
  height: 60px;
  padding: 8px 18px;
  border-radius: 0px 10px 0px 10px;
  font-size: 1.25rem;
  background-color: #ad6c6d;
  color: white;
  position: relative;
}
.c-btn1:hover::before {
  opacity: 1;
  visibility: visible;
  width: 100%;
}
.c-btn1::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-color: #5b6d5b;
  border-radius: 0px 10px 0px 10px;
  width: 0;
  height: 100%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.c-btn1 span {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.c-btn2 {
  width: 180px;
  height: 60px;
  padding: 8px 18px;
  border: 1px solid #ad6c6d;
  border-radius: 0px 10px 0px 10px;
  font-size: 1.25rem;
  background-color: transparent;
  color: #ad6c6d;
  position: relative;
}
.c-btn2:hover::before {
  opacity: 1;
  visibility: visible;
  width: 100%;
}
.c-btn2:hover span {
  color: white;
}
.c-btn2::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-color: #ad6c6d;
  border-radius: 0px 10px 0px 10px;
  width: 0;
  height: 100%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.c-btn2 span {
  width: 100%;
  transition: 0.5s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.s-headbanner {
  color: black;
  position: relative;
  z-index: 1;
}
.s-headbanner .b-slide {
  position: relative;
  height: 700px;
}
.s-headbanner .b-slide .b-banner-slide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 700px;
  overflow: hidden;
  z-index: 1;
}
.s-headbanner .b-slide .b-banner-slide .b-banner-img img {
  height: 700px;
  object-fit: cover;
}
.s-headbanner .b-slide .b-banner-slide .b-content {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  text-align: center;
}
.s-headbanner .b-slide .b-banner-slide .b-content h2 {
  color: white;
  font-size: 3.125rem;
  animation: slideUp 1.5s linear;
}
.s-headbanner .b-slide .b-banner-slide .b-content h2 span {
  color: #5b6d5b;
}
.s-headbanner .b-slide .b-banner-slide .b-content p {
  color: white;
  margin-bottom: 20px;
  animation: slideUp 1.5s linear;
  animation-delay: 0.2s;
}
.s-headbanner .b-slide .b-banner-slide .b-content p a {
  color: #ad6c6d;
}
.s-headbanner .b-slide .b-banner-slide .b-content p a:hover {
  color: #5b6d5b;
}
.s-headbanner .b-slide .b-banner-slide .b-content button {
  animation: slideUp 1.5s linear;
  animation-delay: 0.3s;
}
.s-headbanner .b-slide .b-banner-slide:nth-child(1) {
  z-index: 1;
}
.s-headbanner .b-slide .b-banner-slide:nth-child(2) {
  z-index: 0;
}
.s-headbanner .b-slide .b-banner-slide:nth-child(3) {
  z-index: -1;
}
.s-headbanner .b-navigation-button {
  text-align: center;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
.s-headbanner .b-navigation-button .dot {
  z-index: 1;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.s-headbanner .b-navigation-button .dot.active {
  background-color: #717171;
}
.s-headbanner .b-navigation-button .dot:hover {
  background-color: #717171;
}

@keyframes slideInLeft {
  from {
    transform: translateX(40px);
  }
  to {
    transform: translateX(80px);
  }
}
@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
.s-category {
  margin-top: 5px;
}
.s-category .b-cate-card {
  position: relative;
}
.s-category .b-cate-card .b-card-img {
  position: relative;
  overflow: hidden;
}
.s-category .b-cate-card .b-card-img img {
  transition: 0.5s;
  height: 500px;
  object-fit: cover;
}
.s-category .b-cate-card .b-card-img::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(53, 34, 35, 0.6941176471);
  z-index: 2;
}
.s-category .b-cate-card .b-card-img:hover img {
  transform: scale(1.1);
}
.s-category .b-cate-card h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.s-newproduct {
  text-align: center;
  margin-top: 40px;
  color: black;
  height: 600px;
}
.s-newproduct .s_newproduct-type {
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.608);
}
.s-newproduct .s_newproduct-type h5 {
  cursor: pointer;
}
.s-newproduct .s_newproduct-type h5.active {
  color: #ad6c6d;
}
.s-newproduct .s_newproduct-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transform: translateY(50px);
  display: none;
}
.s-newproduct .s_newproduct-list.active {
  transform: translateY(0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.s-sale {
  text-align: center;
  background-image: url("/img/salebanner/salebanner3.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin-top: 70px;
  padding: 20px;
  height: 350px;
  position: relative;
}
.s-sale .s_sale-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
.s-sale .s_sale-text p {
  letter-spacing: 10px;
}
.s-sale .s_sale-text h2 {
  font-size: 2.25rem;
}
.s-sale .s_sale-text h2 span {
  color: #ad6c6d;
  font-size: 3.125rem;
}
.s-sale .s_sale-text button {
  font-size: 1rem;
  margin-top: 10px;
}
.s-sale::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.s-testimonial {
  text-align: center;
  color: black;
  margin-top: 80px;
}
.s-testimonial i {
  font-size: 4rem;
  margin-bottom: 20px;
}
.s-testimonial .b-testi {
  position: relative;
  height: 200px;
}
.s-testimonial .b-testi .b-testi-slide {
  position: absolute;
  top: 0;
  left: 0;
}
.s-testimonial .b-testi .b-testi-slide .b-testi-feedback {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 10px;
}
.s-testimonial .b-testi .b-testi-slide .b-title {
  color: rgba(0, 0, 0, 0.608);
}
.s-testimonial .b-testi .b-testi-slide:nth-child(1) {
  opacity: 0;
}
.s-testimonial .b-testi .b-testi-slide:nth-child(2) {
  opacity: 1;
}
.s-testimonial .b-testi .b-testi-slide:nth-child(3) {
  opacity: 0;
}
.s-testimonial .b-change {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70px;
  margin: 0 auto;
  margin-top: 30px;
  cursor: pointer;
}
.s-testimonial .b-change div {
  width: 14px;
  height: 14px;
  border-radius: 20px;
  background-color: black;
  position: relative;
}
.s-testimonial .b-change div.active {
  background-color: #ad6c6d;
  transform: translateY(-8px);
}
.s-testimonial .b-change div.active::after {
  content: "";
  width: 24px;
  height: 24px;
  border: 1px solid #ad6c6d;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.s-testimonial .b-change div.active:hover {
  background-color: #ad6c6d;
}
.s-testimonial .b-change div:hover {
  background-color: #5b6d5b;
}

.s-gallery {
  margin-top: 150px;
  position: relative;
}
.s-gallery .b-galleryshow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  gap: 10px;
}
.s-gallery .b-galleryshow img {
  width: calc(20% - 10px);
  transition: 0.5s;
}
.s-gallery .b-galleryshow img:nth-child(even) {
  transform: translateY(-20px);
}
.s-gallery .b-galleryshow img:hover {
  box-shadow: #ad6c6d 2.4px 2.4px 3.2px;
}
.s-gallery .b-popup {
  position: absolute;
  top: -200px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: 0.5s;
  transform: scale(0.5);
  opacity: 0;
  visibility: hidden;
}
.s-gallery .b-popup.active {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  position: fixed;
  z-index: 6;
}
.s-gallery .b-popup .b-popup-img {
  object-fit: cover;
  width: 500px;
}
.s-gallery .b-popup i {
  font-size: 1.75rem;
}

.s-shopbanner {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  overflow-x: scroll;
}
.s-shopbanner img {
  width: 25%;
  height: 350px;
}

.s-body {
  margin-top: 30px;
  color: black;
}
.s-body .container .s-breadcrumb {
  display: flex;
  align-items: center;
}
.s-body .container .s-breadcrumb a {
  color: rgba(0, 0, 0, 0.5);
  margin-right: 10px;
}
.s-body .container .s-title {
  color: black;
  font-weight: 600;
  margin: 50px 0;
}
.s-body .container .s-body-content .b-filter .b-filter-option {
  margin-bottom: 50px;
}
.s-body .container .s-body-content .b-filter .b-filter-option h5 {
  margin-bottom: 20px;
}
.s-body .container .s-body-content .b-filter .b-filter-option ul {
  color: rgba(0, 0, 0, 0.608);
}
.s-body .container .s-body-content .b-filter .b-filter-option ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.s-body .container .s-body-content .b-filter .b-filter-option ul li div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}
.s-body .container .s-body-content .b-filter .b-filter-option ul li img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.s-body .container .s-body-content .right {
  text-align: center;
}
.s-body .container .s-body-content .right .b-filter-text {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.s-body .container .s-body-content .right .b-filter-text h6 {
  color: #ad6c6d;
  margin: 0;
  margin-right: 20px;
}
.s-body .container .s-body-content .right .b-filter-text p {
  color: rgba(0, 0, 0, 0.608);
  margin: 0;
}
.s-body .container .s-body-content .right .b-filter-text p span {
  color: black;
  font-weight: 600;
}
.s-body .container .s-body-content .right .b-list-card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.s-body .container .s-body-content .right .b-list-card .c-card-product {
  width: calc(33.3333333333% - 10px);
}

.s-detail {
  color: black;
  padding-top: 50px;
}
.s-detail .b-product-detail .b-subimg {
  width: 200px;
  height: 220px;
}
.s-detail .b-product-detail .b-subimg img {
  margin-bottom: 10px;
  filter: opacity(0.6);
}
.s-detail .b-product-detail .b-mainimg {
  width: 500px;
  height: 759px;
  margin-right: 20px;
  background-image: url("/img/product/handbag/detail/blue-1.jpeg");
  background-size: cover;
}
.s-detail .b-product-detail .b-mainimg:hover {
  background-size: 175%;
}
.s-detail .b-product-detail .b-product-info .b-product-name {
  font-size: 2.25rem;
}
.s-detail .b-product-detail .b-product-info .b-product-price {
  font-family: "Croissant One", cursive;
  font-weight: 400;
  font-size: 1.75rem;
  color: #ad6c6d;
}
.s-detail .b-product-detail .b-product-info .b-product-price .b-product-disprice {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: line-through;
  font-size: 1.25rem;
}
.s-detail .b-product-detail .b-product-info .b-product-reason {
  color: rgba(0, 0, 0, 0.608);
}
.s-detail .b-product-detail .b-product-info .b-addtocart {
  display: flex;
  align-items: center;
}
.s-detail .b-product-detail .b-product-info .b-addtocart .amount {
  border: 1px solid rgba(0, 0, 0, 0.4);
  width: 100px;
  height: 60px;
  padding: 8px 14px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.s-detail .b-product-detail .b-product-info .b-addtocart .amount span {
  font-size: 1.25rem;
  transform: translateX(10px);
}
.s-detail .b-product-detail .b-product-info .b-addtocart .amount i {
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.5);
}
.s-detail .b-product-descrip {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}
.s-detail .b-product-descrip .b-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.s-detail .b-product-descrip .b-tab p {
  margin: 20px;
  font-weight: 600;
  position: relative;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.s-detail .b-product-descrip .b-tab p.active {
  color: black;
}
.s-detail .b-product-descrip .b-tab p.active::after {
  content: "";
  background-color: black;
  height: 3px;
  width: 20px;
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
}
.s-detail .b-product-descrip .b-tab p::after {
  content: "";
  background-color: black;
  height: 3px;
  width: 0;
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
}
.s-detail .b-product-descrip .b-info .section {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
.s-detail .b-product-descrip .b-info .section.active {
  -webkit-line-clamp: unset;
}
.s-detail .b-product-descrip .b-info .section p {
  display: none;
}
.s-detail .b-product-descrip .b-info .section p.active {
  display: block;
}
.s-detail .btn {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.s-detail .b-suggest {
  text-align: center;
  margin-top: 100px;
}
.s-detail .b-suggest .b-suggest-title {
  font-weight: 600;
  margin-bottom: 50px;
}
.s-detail .b-suggest .b-suggest-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.s-body {
  margin-top: 0;
}
.s-body .b-cart-info .selection {
  color: rgba(0, 0, 0, 0.608);
}
.s-body .b-cart-info .selection span {
  color: black;
}
.s-body .b-cart-info .b-cart-content table thead {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  font-weight: 600;
}
.s-body .b-cart-info .b-cart-content table td {
  padding: 20px 20px;
}
.s-body .b-cart-info .b-cart-content table td img {
  width: 100px;
  height: 120px;
  object-fit: cover;
}
.s-body .b-cart-info .b-cart-content table td .amount {
  border: 1px solid rgba(0, 0, 0, 0.4);
  width: 90px;
  height: 50px;
  padding: 8px 14px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.s-body .b-cart-info .b-cart-content table td .amount span {
  font-size: 1rem;
  transform: translateX(10px);
}
.s-body .b-cart-info .b-cart-content table td .amount i {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
}
.s-body .b-cart-info .b-cart-content table tr {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}
.s-body .b-cart-money p {
  margin: 0;
}
.s-body .b-cart-money .total-title {
  color: black;
  font-weight: 600;
  margin-bottom: 1rem;
}
.s-body .b-cart-money .b-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  padding: 20px 20px;
}
.s-body .b-cart-money .price {
  font-weight: 600;
}
.s-body .b-cart-money .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.s-body .b-cart-money .btn button {
  width: 80%;
}

.s-body .b-bill-detail h4 {
  margin-bottom: 30px;
}
.s-body .b-bill-detail .b-form-bill p {
  margin: 0;
}
.s-body .b-bill-detail .b-form-bill .b-form-detail {
  width: 800px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.s-body .b-bill-detail .b-form-bill .b-form-detail input {
  border: 1px solid black;
  width: 70%;
  padding: 10px 20px;
}
.s-body .b-bill-detail .b-form-bill .b-form-detail textarea {
  width: 70%;
  height: 100px;
  padding: 10px 20px;
  outline: none;
}
.s-body .b-bill-order {
  background-color: rgba(173, 108, 109, 0.4901960784);
  padding: 30px 30px;
}
.s-body .b-bill-order p {
  margin: 0;
}
.s-body .b-bill-order .price {
  font-weight: 600;
}
.s-body .b-bill-order .total {
  font-weight: 600;
}
.s-body .b-bill-order .title {
  font-weight: 600;
}
.s-body .b-bill-order .b-order-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  padding: 20px;
}
.s-body .b-bill-order .b-order-content:last-child {
  border-bottom: none;
}
.s-body .b-bill-order .b-ordertop {
  font-weight: 600;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.s-body .b-bill-order .b-orderbody {
  border-bottom: 3px solid rgba(0, 0, 0, 0.4);
}

.s-body {
  text-align: center;
}
.s-body .b-body-top {
  margin-bottom: 30px;
}
.s-body .b-body-top .b-body-title {
  font-weight: 600;
  margin-bottom: 20px;
}
.s-body .b-body-top button {
  width: 300px;
  font-size: 1rem;
}
.s-body .b-body-bot .b-order-content {
  margin-bottom: 30px;
}
.s-body .b-body-bot .b-order-content .b-order-box {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px 20px;
  width: 50%;
  margin: 0 auto;
}
.s-body .b-body-bot .b-order-content .b-order-box ul {
  text-align: left;
  transform: translateX(50px);
}
.s-body .b-body-bot .b-order-content .b-order-box ul li {
  margin: 10px;
}
.s-body .b-body-bot .b-order-content .b-order-box .note {
  text-align: left;
  margin-top: 20px;
  transform: translateX(50px);
}
.s-body .b-body-bot .b-order-content .b-order-box .b-box .b-box-table {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}
.s-body .b-body-bot .b-order-content .b-order-box .b-box .b-box-table thead {
  background-color: #ad6c6d;
  text-align: center;
}
.s-body .b-body-bot .b-order-content .b-order-box .b-box .b-box-table thead td {
  padding: 10px 20px;
  color: white;
}
.s-body .b-body-bot .b-order-content .b-order-box .b-box .b-box-table tbody tr td {
  padding: 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.s-body .b-body-bot .b-order-content .b-order-box .b-box .b-box-table tbody tr:nth-child(odd) {
  background-color: rgba(173, 108, 109, 0.4901960784);
}
.s-body .b-body-bot .b-order-content .b-order-box .b-box .b-box-table tfoot tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  font-weight: 600;
}
.s-body .b-body-bot .b-order-content .b-order-box .b-box .b-box-table tfoot tr td {
  padding: 10px 20px;
}
.s-body .b-body-bot .b-order-content .b-order-box .b-box .b-box-table tfoot tr:last-child {
  border-bottom: none;
}

.s-body {
  text-align: left;
}
.s-body .s-banner {
  position: relative;
}
.s-body .s-banner .s-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  text-align: center;
  z-index: 2;
  color: white;
}
.s-body .s-banner .s-content h2 {
  color: #ad6c6d;
}
.s-body .s-banner .s-banner-img {
  position: relative;
}
.s-body .s-banner .s-banner-img::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.s-body .s-banner .s-banner-img img {
  height: 400px;
  object-fit: cover;
}
.s-body .s-body-content {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.s-body .s-body-content h2 {
  font-weight: 600;
}
.s-body .s-body-content .b-list {
  display: flex;
  align-items: center;
  gap: 10px;
}
.s-body .s-body-content .b-list .b-card {
  width: calc(25% - 10px);
  margin-top: 20px;
}
.s-body .s-body-content .b-list .b-card img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  transition: 0.5s;
}
.s-body .s-body-content .b-list .b-card img:hover {
  box-shadow: #ad6c6d 2.4px 2.4px 3.2px;
}
.s-body .s-body-content .b-list .b-card p {
  font-size: 1.3rem;
  margin-top: 10px;
}

.s-body .s-body-content {
  text-align: left;
}
.s-body .s-body-content .container .row {
  margin-top: 30px;
  margin-bottom: 80px;
}
.s-body .s-body-content .container .row img {
  width: 300px;
  height: 300px;
}
.s-body .s-body-content .container .row ul {
  list-style: disc;
}
.s-body .s-body-content .container .row ul li {
  line-height: 30px;
}

.s-body .left {
  border: 1px solid #ad6c6d;
  padding: 20px;
}
.s-body .left img {
  width: 300px;
}
.s-body .left .b-info {
  border-top: 1px solid #ad6c6d;
  padding-top: 20px;
}
.s-body .left .b-info .b-info-detail {
  margin-bottom: 10px;
}
.s-body .left .b-info .b-info-detail i {
  margin-right: 10px;
}
.s-body .left .b-social i {
  font-size: 1.5rem;
  margin-right: 10px;
}
.s-body .left .b-social i:hover {
  color: #ad6c6d;
}
.s-body .right iframe {
  width: 100%;
}
.s-body .b-question {
  margin-top: 50px;
}
.s-body .b-question h2 {
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}
.s-body .b-question h2::before {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 10%;
  height: 3px;
  background-color: #ad6c6d;
}
.s-body .b-question .b-question-form .b-form-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 20px auto;
}
.s-body .b-question .b-question-form .b-form-detail p {
  margin: 0;
}
.s-body .b-question .b-question-form .b-form-detail input {
  border: 1px solid black;
  width: 70%;
  padding: 10px 20px;
}
.s-body .b-question .b-question-form .b-form-detail textarea {
  width: 70%;
  height: 100px;
  padding: 10px 20px;
  outline: none;
}
.s-body .b-question .b-question-form button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
}/*# sourceMappingURL=style.css.map */