.s-body {
    .b-form {
        .b-form-detail {
            width: 50%;
            margin: 0 auto;
            margin-bottom: 30px;
            input {
                border: 1px solid $color-black;
                width: 100%;
                padding: 10px;
            }
            p {
                span {
                    a {
                        color: $primary-color;
                        font-weight: 600;
                        &:hover {
                            color: $secondary-color;
                        }
                    }
                }
            }
            .error {
                color: red;
            }
        }
    }
}
