.s-body {
    .s-body-content {
        text-align: left;
        .container {
            .row {
                margin-top: 30px;
                margin-bottom: 80px;
                h2 {
                    &:after {
                        width: 0;
                    }
                }
                img {
                    width: 300px;
                    height: 300px;
                }
                ul {
                    list-style: disc;
                    li {
                        line-height: 30px;
                    }
                }
            }
        }
    }
}
