.s-shopbanner {
    @include flexBox(center);
    width: 100%;
    padding: 2px;
    gap: 10px;
    overflow-x: scroll;
    &::-webkit-scrollbar {
        height: 10px;
        border-radius: 20px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $primary-color;
        outline: none;
        border-radius: 20px;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px gray;
    }

    img {
        width: calc(100% / 4);
        height: 350px;
    }
    @media (max-width: 990px) {
        img {
            height: 20px;
        }
    }
}
.s-body {
    margin-top: 30px;
    color: $color-black;
    .container {
        .s-breadcrumb {
            @include flexBox(center);
            padding-top: 50px;
            a {
                color: $color-black-50;
                margin-right: 10px;
            }
        }
        .s-title {
            color: $color-black;
            font-weight: $fw-600;
            margin: 50px 0;
        }
        .s-body-content {
            .left {
                border: none;
                .b-filter {
                    .b-filter-option {
                        margin-bottom: 50px;
                        h5 {
                            margin-bottom: 20px;
                        }
                        ul {
                            color: $color-black-60;
                            li {
                                margin-bottom: 10px;
                                @include flexBox(center);
                                transition: 0.5s;
                                div {
                                    width: 10px;
                                    height: 10px;
                                    border-radius: 50%;
                                    margin-right: 10px;
                                }
                                img {
                                    width: 20px;
                                    height: 20px;
                                    margin-right: 10px;
                                }
                                &:hover {
                                    margin-left: 10px;
                                    color: $primary-color;
                                }
                            }
                        }
                    }
                }
            }

            .right {
                text-align: center;
                .b-filter-text {
                    @include flexBox(center);
                    margin-bottom: 20px;
                    h6 {
                        color: $primary-color;
                        margin: 0;
                        margin-right: 20px;
                    }
                    p {
                        color: $color-black-60;
                        margin: 0;
                        span {
                            color: $color-black;
                            font-weight: $fw-600;
                        }
                    }
                }
                .b-list-card {
                    @include flexBox(center);
                    flex-wrap: wrap;
                    gap: 10px;
                    .c-card-product {
                        width: calc(100% / 3 - 10px);
                    }
                }
            }
        }
    }
    @media (max-width: 990px) {
        .container {
            .s-body-content {
                .left {
                    width: 20%;
                    .b-filter {
                        .b-filter-option {
                            h5 {
                                font-size: 16px;
                            }
                        }
                    }
                }
                .right {
                    width: 80%;
                    button {
                        padding: 5px 8px;
                        span {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 769px) {
        .container {
            .s-body-content {
                position: relative;
                .left {
                    display: none;
                    @include posAbsolute(tl, 20px, -128px);
                    z-index: 2;
                    background-color: $color-white;
                    width: 300px;
                    &.active {
                        display: block;
                    }
                }
                .right {
                    width: 100%;
                }
            }
        }
    }
}
