$primary-color: #ad6c6d;
$primary-color-50: #ad6c6d7d;
$primary-color-darker: #352223b1;
$secondary-color: #5b6d5b;

$color-black: black;
$color-lighterblack: rgb(21, 21, 21);
$color-black-60: rgba(0, 0, 0, 0.608);
$color-black-50: rgba(0, 0, 0, 0.5);
$color-black-40: rgba(0, 0, 0, 0.4);
$color-white: white;
$color-white-50: rgba(255, 255, 255, 0.5);
$color-white-30: rgba(255, 255, 255, 0.3);
$color-white-20: rgba(255, 255, 255, 0.2);
$transparent: transparent;

$fs-12: 0.75rem;
$fs-16: 1rem;
$fs-18: 1.17rem;
$fs-20: 1.25rem;
$fs-22: 1.3rem;
$fs-24: 1.5rem;
$fs-28: 1.75rem;
$fs-32: 2rem;
$fs-36: 2.25rem;
$fs-50: 3.125rem;
$fs-60: 3.75rem;
$fs-64: 4rem;

$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;
$fw-1000: 1000;

$ff-primary: "Montserrat", sans-serif;
$ff-secondary: "Croissant One", cursive;
