.s-header {
    background-color: $color-white;
    padding: 10px;
    transition: 0.5s;
    width: 100%;
    z-index: 6;
    .container {
        .b-topheader {
            @include flexBox(center, between);
            height: 80px;
            border-bottom: 1px solid $color-black-40;
            .b-brandname {
                p {
                    color: $color-black;
                    margin: 0;
                    font-size: $fs-22;
                    letter-spacing: 5px;
                }
            }
            .b-logo {
                width: 180px;
                height: 180px;
                margin: 0;
                overflow: hidden;
                transform: translateX(60px);
                @include flexBox(center, center);
                img {
                    width: 180px;
                }
            }
            .b-function {
                width: 350px;
                @include flexBox(center, between);
                .b-search {
                    border: 1px solid $color-lighterblack;
                    padding: 10px 20px;
                    border-radius: 20px;
                    input {
                        background-color: $transparent;
                    }
                    i {
                        color: $color-black;
                        font-size: $fs-20;
                        transition: 0.5s;
                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
                .b-cart {
                    position: relative;
                    z-index: 6;
                    &:hover {
                        .b-cart-hover {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                    i {
                        color: $color-black;
                        font-size: $fs-20;
                        transition: 0.5s;
                        &:hover {
                            color: $primary-color;
                        }
                    }
                    .b-cart-amount {
                        opacity: 0;
                        @include posAbsolute(tr, -10px, -14px);
                        width: 20px;
                        height: 20px;
                        background-color: $secondary-color;
                        border-radius: 20px;
                        @include flexBox(center, center);
                        span {
                            font-size: $fs-12;
                        }
                    }
                    .b-cart-hover {
                        @include posAbsolute(tr, 30px, 0px);
                        width: 280px;
                        padding: 10px 20px;
                        color: $color-black;
                        background-color: $color-white;
                        box-shadow: $primary-color-50 0px 3px 8px;
                        opacity: 0;
                        visibility: hidden;
                        transition: 0.5s;
                        z-index: 6;
                        .note {
                            text-align: center;
                        }
                        p {
                            margin: 0;
                        }
                        .b-cart-content {
                            @include flexBox(center, between);

                            padding: 10px;
                            border-bottom: 1px solid $color-black-50;
                            &:last-child {
                                border-bottom: none;
                            }
                            img {
                                width: 80px;
                            }
                            .b-cart-text {
                                margin-left: 10px;
                                p {
                                    margin: 0;
                                }
                                .price {
                                    color: $primary-color;
                                }
                            }
                        }
                    }
                }
                .b-account {
                    i {
                        color: $color-black;
                        font-size: $fs-20;
                        transition: 0.5s;
                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }
        }
        .b-botheader {
            padding-top: 10px;
            height: 60px;
            @include flexBox(center, between);
            .b-logo {
                width: 10%;
                display: none;
                img {
                    width: 140px;
                }
            }
            .b-menu {
                transform: translateX(380px);
                z-index: 6;
                > ul {
                    width: 600px;
                    margin: 0 auto;
                    @include flexBox(center, between);

                    li {
                        position: relative;
                        a {
                            transition: 0.5s;
                        }
                        &:hover {
                            > a {
                                color: $primary-color;
                                i {
                                    color: $primary-color;
                                    transform: rotate(180deg);
                                }
                            }
                            &::before {
                                width: 100%;
                            }
                            > .b-submenu {
                                opacity: 1;
                                visibility: visible;
                                @include posAbsolute(tl, 30px, -20px);
                                z-index: 6;
                            }
                        }
                        &::before {
                            content: "";
                            width: 0;
                            height: 1.5px;
                            background-color: $primary-color;
                            @include posAbsolute(centerX, 22px, 50%);
                            transition: 0.5s;
                        }
                        .b-submenu {
                            @include posAbsolute(tl, 10px, -20px);
                            z-index: 5;
                            opacity: 0;
                            visibility: hidden;
                            background-color: $color-white;
                            width: 160px;
                            padding: 10px 10px;
                            transition: 0.5s;
                            box-shadow: $primary-color-50 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
                            li {
                                margin: 10px;
                            }
                        }
                    }
                }
            }
            .b-function {
                width: 300px;
                opacity: 0;
                @include flexBox(center, between);
                .b-search {
                    border: 1px solid $color-lighterblack;
                    padding: 10px 20px;
                    border-radius: 20px;
                    input {
                        background-color: $transparent;
                        &:placeholder-shown {
                            font-size: $fs-12;
                        }
                    }
                    i {
                        color: $color-black;
                        font-size: $fs-20;
                        transition: 0.5s;
                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
                .b-cart {
                    position: relative;
                    z-index: 6;
                    &:hover {
                        .b-cart-hover {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                    i {
                        color: $color-black;
                        font-size: $fs-20;
                        transition: 0.5s;
                        &:hover {
                            color: $primary-color;
                        }
                    }
                    .b-cart-amount {
                        opacity: 0;
                        @include posAbsolute(tr, -10px, -14px);
                        width: 20px;
                        height: 20px;
                        background-color: $secondary-color;
                        border-radius: 20px;
                        @include flexBox(center, center);
                        span {
                            font-size: $fs-12;
                        }
                    }
                    .b-cart-hover {
                        @include posAbsolute(tr, 30px, 0px);
                        width: 280px;
                        padding: 10px 20px;
                        color: $color-black;
                        background-color: $color-white;
                        box-shadow: $primary-color-50 0px 3px 8px;
                        opacity: 0;
                        visibility: hidden;
                        transition: 0.5s;
                        .note {
                            text-align: center;
                        }
                        p {
                            margin: 0;
                        }
                        .b-cart-content {
                            @include flexBox(center, between);
                            z-index: 6;
                            padding: 10px;
                            border-bottom: 1px solid $color-black-50;
                            &:last-child {
                                border-bottom: none;
                            }
                            img {
                                width: 80px;
                            }
                            .b-cart-text {
                                margin-left: 10px;
                                p {
                                    margin: 0;
                                }
                                .price {
                                    color: $primary-color;
                                }
                            }
                        }
                    }
                }
                .b-account {
                    i {
                        color: $color-black;
                        font-size: $fs-20;
                        transition: 0.5s;
                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
                .b-menu-btn {
                    width: 5%;
                    height: 20px;
                    display: none;
                    &:hover {
                        div {
                            background-color: $primary-color;
                            &::after,
                            ::before {
                                background-color: $primary-color;
                            }
                        }
                    }
                    div {
                        width: 26px;
                        height: 2px;
                        background-color: $color-black;
                        position: relative;
                        &::after {
                            content: "";
                            @include posAbsolute(tl, 8px, 0px);
                            width: 26px;
                            height: 2px;
                            background-color: $color-black;
                        }
                        &::before {
                            content: "";
                            @include posAbsolute(tl, 16px, 0px);
                            width: 26px;
                            height: 2px;
                            background-color: $color-black;
                        }
                    }
                }
            }
        }
        @media (max-width: 1400px) {
            .b-botheader {
                .b-menu {
                    transform: translateX(300px);
                }
            }
        }
        @media (max-width: 1000px) {
            .b-topheader {
                display: none;
            }
            .b-botheader {
                .b-logo {
                    display: block;
                }
                .b-menu {
                    ul {
                        width: 500px;
                        display: block;
                        background-color: $color-white;
                        padding: 10px 20px;
                        @include posAbsolute(tl, 20px, 30px);
                        opacity: 0;
                        transition: 0.5s;
                        li {
                            margin: 10px;
                        }
                        &.active {
                            @include posAbsolute(tl, 20px, -1px);
                            opacity: 1;
                        }
                    }
                }
                .b-function {
                    opacity: 1;
                    width: 200px;
                    .b-search {
                        border: none;
                        input {
                            display: none;
                        }
                    }
                    .b-menu-btn {
                        display: block;
                    }
                }
            }
        }
    }
    &.active {
        border-bottom: 1px solid $primary-color-50;
        position: fixed;
        z-index: 5;
        .container {
            .b-topheader {
                display: none;
            }
            .b-botheader {
                .b-logo {
                    display: block;
                }
            }
            .b-menu {
                transform: translate(-10px);
            }
            .b-function {
                opacity: 1;
            }
            @media (max-width: 1000px) {
                .b-menu {
                    ul {
                        width: 500px;
                        display: block;
                        background-color: $color-white;
                        padding: 10px 20px;
                        @include posAbsolute(tl, 30px, 500px);
                        opacity: 0;
                        transition: 0.5s;
                        li {
                            margin: 10px;
                        }
                        &.active {
                            @include posAbsolute(tl, 30px, 300px);
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}
